.card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;

}
.card-user {
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-name {
  position: absolute;
  text-align: center;
  top: 40px;
  left: 10px;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}
.card-category {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
