// Your footer style
#footer {
  background-color: #333333;
  padding: 30px;
  // position:relative;
  // bottom:0;
  width:100%;
}

#footer .text-right {
  color: white;
  font-family: Open-sans, Verdana, sans-serif;
  font-size: 17px;
}

#footer .fa{
  color: white;
  font-size: 30px;
  letter-spacing: 20px;
  opacity: 0.7;
}
