

<div class="banner" style="background: url('http://051b1de9e9ecc772c2d2-4491a5e521b7c42737795ca67148d758.r80.cf1.rackcdn.com/vogelzang-vineyard.jpg');">
      <div class="banner-content">
        <h1>LE BON VIGNOBLE</h1>
        <p>Découvrez notre sélection de vignobles à visiter aux meilleurs prix</p>
        <form method="get" action="<%= places_path %>" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="where ?" name="location">
          <input type="date" class="form-control input-lg" placeholder="checkin ?" name="checkin">
          <input type="date" class="form-control input-lg" placeholder="checkout ?" name="checkout">
          <input name="nbrPersons" class="form-control input-lg" placeholder="Number ?">
          <input type="submit" class="btn btn-primary btn-lg" value="Search">
        </form>
      </div>
</div>
